<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://localhost:3333/styles/global.css">

  <title>Admin</title>
</head>
<body>

  <div id="content">
    <button><a href="/news">New News</a></button>
    <button><a href="/register">New Journalist</a></button>
    <button><a href="/logout">Log out</a></button>
  </div>

</body>
</html>