<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="http://localhost:3333/styles/global.css">
  <link rel="stylesheet" href="http://localhost:3333/styles/form.css">

  <title>New news</title>
</head>
<body>

  <div id="content">
    <form method="POST" action="/news" id="form">
      <h1>New news</h1>
  
      <div class="formField">
        <label for="">Title: </label>
        <input name="title" type="text" />
      </div>
      <div class="formField">
        <label for="">Description: </label>
        <textarea name="description" type="text"></textarea>
      </div>
      <div class="formField">
        <label for="">Content: </label>
        <textarea name="content" type="text"></textarea>
      </div>

      <button type="submit">Save</button>
    </form>
    <a href="/admin">Admin Page</a>
  </div>

</body>
</html>